<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggy be Good</title>
</head>

<body>
    <header>
        <h1>Bloggy be Good</h1>
    </header>
    <main>
        {{{body}}}
    </main>
</body>